# Dart/Flutter
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Flutter
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/android/.gradle/
**/android/local.properties

# Coverage
coverage/
*.lcov

# Melos
.melos/

# Docs (local drafts)
docs/
